.Text-1 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(24px);
}
.Text-2 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(23px);
}
.Text-3 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(22px);
}
.Text-4 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(21px);
}
.Text-5 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(20px);
}
.Text-6 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(19px);
}
.Text-7 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(18px);
}
.Text-8 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(17px);
}
.Text-9 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(16px);
}
.Text-10 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(15px);
}
.Text-11 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(14px);
}
.Text-11 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(13px);
}
.Text-12 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(12px);
}
.Text-13 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(11px);
}
.Text-14 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(10px);
}
.Text-15 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(9px);
}
.Text-16 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(8px);
}
.Text-17 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(7px);
}
.Text-18 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(6px);
}
.Text-19 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(5px);
}
.Text-20 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(4px);
}
.Text-21 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(3px);
}
.Text-22 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(2px);
}
.Text-23 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(1px);
}
.Text-24 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(0px);
}
.Text-25 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(-1px);
}
.Text-26 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(-2px);
}
.Text-27 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(-3px);
}
.Text-28 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(-4px);
}
.Text-29 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(-5px);
}
.Text-30 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(-6px);
}
.Text-31 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(-7px);
}
.Text-32 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(-8px);
}
.Text-33 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(-9px);
}.Text-34 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(-10px);
}
.Text-35 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(-11px);
}.Text-36 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(-12px);
}.Text-37 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(-13px);
}.Text-38 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(-14px);
}.Text-39 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(-15px);
}.Text-40 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(-16px);
}.Text-41 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(-17px);
}.Text-42 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(-18px);
}.Text-43 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(-19px);
}.Text-44 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(-20px);
}.Text-45 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(-21px);
}.Text-46 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(-22px);
}.Text-47 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(-23px);
}
.Text-48 {
  border-style: solid;
  border-color: #AA1614;
  border-width: 2px;
  text-align: center;
  transform: translateZ(-24px);
}
